*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid ; */
}
html , body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
}
.community-section{
    height: 100%;
    width: 100%;
    background-color: cyan;
    display: flex;
}
.community-section .left{
    height: 100%;
    width: 50%;
    position: relative;
    background-color: rgb(232, 231, 231);
}
.community-section .left .nav-part1{
    height: 100%;
    width: 5%;
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    position: relative;
    border-right: 3px double rgb(60, 60, 60);
    /* justify-content: center; */
    /* position: relative; */

}
.community-section .left .nav-part1 ul{
    height: 100%;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
width: 100%;
/* width: fit-content; */
position: absolute;
left: 50%;
}
.community-section .left .nav-part1 ul .active svg{
    color: white;
    height: 55px;
    width: 30px;
}
.community-section .left .nav-part1 ul .active{
    width: 75px;
    height: 75px;
    position: relative;
    background-color:rgb(8, 47, 47);
}
.community-section .left .nav-part1 ul li:hover svg{
    color: rgb(193, 193, 193);
    height: 55px;
    width: 30px;

}
.community-section .left .nav-part1 ul li:hover,.community-section .left .nav-part1 ul .active{
    /* outline: none; */
    /* align-self: flex-end; */
    width: 75px;
    height: 75px;
    position: relative;
    background-color:rgb(36, 36, 36);
    color: white;
    border: 5px solid rgb(190, 190, 190);
    /* background: linear-gradient(120deg,rgb(4, 63, 64) ,rgb(127, 254, 254),rgb(1, 137, 108)); */
}
.community-section .left .nav-part1 ul li svg{
    height: 50px;
    width: 25px;
    color: rgb(42,42,42);
}
.community-section .left .nav-part1 ul li{
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 15px;
    list-style: none;
    width: 100%;
    height: 65px;
    width: 65px;
    /* background: linear-gradient(120deg,rgb(145, 253, 255) ,rgb(5, 98, 98), rgb(0, 192, 151)); */
    background-color: rgb(31, 180, 153);
    border: 3px solid rgb(63, 63, 63);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background: url(https://images.unsplash.com/photo-1654331045702-405756aba4ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80); */
}
.community-section .left .nav-part1 ul li a{
    list-style: none;
    text-decoration: none;
    color: rgb(41, 41, 41);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: poppins;
    font-size: 13px;
}
/* .community-section .right{
    height: 100%;
    width: 50%;
    background-color: rgb(190, 190, 190);
} */
.community-section .left{
    height: 100%;
    width:100%;
    background-color: rgb(190, 190, 190);
}
@media (max-width:600px) {
    .main{
        /* background-color: red; */
    }
    .main .community-section .left{
        flex-flow: row;
        /* background-color: red; */
    }
    .main .community-section .right{
        flex-flow: row;
        /* background-color: red; */
    }
   .main .community-section .left .nav-part1{
        height: 7%;
        width: 100%;
        flex-flow: row;
        position: fixed;
        bottom: 0;
        
        /* background-color: red; */

    }
    .community-section .left .nav-part1 ul li{
        position: relative;
    }
    /* .community-section .left .nav-part1 ul li.active::before{
        content: '';
        height: 20px;
        width: 20px;
        background-color: black;
        position: absolute;
        left: -23px;

        border-radius: 50%;
        z-index:0;
        top: 50%;
        border-radius: 28%;
        background-color:rgb(36, 36, 36);

    } */
    .community-section .left .nav-part1 ul li.active::after{
        content: '';
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color:rgb(36, 36, 36);
        position: absolute;
right: -24px;
z-index: -1;
top: 40%;
}
    .community-section .left .nav-part1 ul li.active::before{
        content: '';
        height: 20px;
        width: 20px;
        border-radius: 50%;
        z-index: -1;
        background-color:rgb(36, 36, 36);
        position: absolute;
left: -24px;
top: 40%;
    }
    .community-section .left .nav-part1 ul{
        flex-flow: row;
        position: absolute;
        bottom:50%;
        gap: 3%;
        left: 0;
    }
}